*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}
input,textarea {
    -webkit-appearance: none;
  }
/* checkbox */
input[type=checkbox]{
    display: none;
}
input[type=checkbox]{ 
    display:none; 
} 
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  margin-right: 0.5rem;
}
input[type=checkbox]:checked + label:before{
  font-size: 1.5rem;
  content: "\f046"; 
} 

.container{
    width:calc(100% - 10rem);
    margin-left: auto;
    margin-right: auto;
}

header{
    color: #222222;
    background-color:#FEE715;
}
.header-content{
    height:4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

main{
    height:calc(100% - 8rem);
}

footer{
    display:flex;
    align-items: center;
    height:4rem;
    background-color: #222222;
    color:white;
}

#modal_overlay{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 1;
    background-color: #222222;
    opacity:0.8;
}