#area_all_tasks{
    width:100%;
    display:flex;
    justify-content: space-between;
}
#bt_submit{
    color:white;
    background-color:#222222;
    height:2rem;
    width:5rem;
    padding:0.5rem;
}

/* parentタスク表示area */
#area_tasks_parent{
    position:relative;
    width:30%;
    height:calc(100vh - 22.5rem);
    margin-top:1rem;
    border:1px solid #222222;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tasks-header{
    color:white;
    width:calc(100%);
    height:2.5rem;
    background-color: #222222;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tasks_parent{
    width:calc(100% - 1rem);
    height:calc(100% - 7rem);
    overflow: scroll;
    font-size: 1.5rem;
}
.tasks-footer{
    width:calc(100% - 1rem);
    height:3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bt-add{
    background-color: #222222;
    color:white;
    width:3rem;
    height:1.5rem;
    padding:0.5rem;
}

label{
    margin-right:1rem;
}
.row-task{
    width:calc(100% - 1rem);
    padding:0.5rem;
    height:1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-task-name{
    width: calc(100% - 1.5rem);
    height:1.5rem;
    overflow: scroll;
    white-space: nowrap;
}
.area-option{
    display: flex;
    align-items: center;
    height:1.5rem;
    position: relative;
}
.options{
    display: none;
    position: absolute;
    padding:0.5rem;
    right:-0.5rem;
    top: 2.5rem;
    font-size: 1rem;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width:5rem;
    height:3.5rem;
}

img.icon-option{
    height: 1.5rem;
}
/* childタスク表示area */
#area_tasks_child{
    position:relative;
    width:calc(70% - 1rem);
    height:calc(100vh - 22.5rem);
    margin-top:1rem;
    border:1px solid #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tasks_child{
    width:calc(100% - 1rem);
    height:calc(100% - 7rem);
    overflow: scroll;
    font-size: 1rem;
}

/* コメントarea */
#area_comment{
    width:100%;
    margin-top: 1rem;
}
.comment-header{
    font-size: 0.8rem;
    height:1rem;
    padding:0 0.5rem;
    width:max-content;
    background-color: #FEE715;

}
.comment{
    width:calc(100% - 1rem);
    height:calc(10rem - 1rem);
    padding:0.5rem;
    margin: 0.5rem 0 1rem 0;
    border:1px solid #222222;
}

/* モーダル */
#modal_make_task{
    display: none;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:2;
    margin:auto;
    width:30rem;
    height:20rem;
    padding:1rem;
    background-color: white;
}
.make-task-header{
    display: flex;
    align-items: center;
    width:calc(100% - 1rem);
    height:1rem;
    padding:0.5rem;
    background-color: #FEE715;
    color: black;
}
.make-task-content{
    width:100%;
    height: calc(100% - 5.5rem);
}
.label-modal{
    height:1.5rem;
}
.modal-area-name{
    width: 100%;
    height:3.5rem;
}
.modal-area-comment{
    width: 100%;
    height:calc(100% - 4.5rem);
}

#task_name{
    width:calc(100% - 1rem);
    padding:0.5rem;
    height:1rem;
    border:1px solid #222222;
}
#task_comment{
    width:calc(100% - 1rem);
    padding:0.5rem;
    height:calc(100% - 1.5rem);
    border:1px solid #222222;

}
.make-task-footer{
    width:100%;
    height:2.5rem;
    text-align: right;
    margin-top: 1rem;
    margin-top: 1rem;
}

.bt-task-add{
    background-color: #FEE715;
    width:4rem;
    height:2.5rem;
}